<div id="dashboard">
  <div id="header">
    <app-header></app-header>
  </div>

  <div id="nav">
    <app-nav></app-nav>
  </div>

  <div id="container">
    <div style="width: 20%; background-color: blue; margin: 5px 5px">
      <app-left-container></app-left-container>
    </div>
    <div
      style="width: 78%; background-color: red; margin: 5px 5px; overflow: auto"
    >
      <app-right-container></app-right-container>
    </div>
  </div>

  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
